html{
    width: 100%;
    height: 100%;
    background: #ffd9d9;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.item{
    height: 300px;
    line-height: 300px;
    width: 100%;
    text-align: center;
}

.item img{
    display: inline-block !important;
    width: auto !important;
    height: 300px;
}

.owl-carousel{
    position: relative;
}

.owl-theme .owl-nav{
    position: absolute;
    bottom: -50px;
    width: 100%;
}



.owl-nav button.owl-prev{
    width: 40px;
    line-height: 40px !important;
}

.owl-nav button.owl-next{
    width: 40px;
    line-height: 40px !important;
}

.owl-nav span{
    font-size: 30px;
}